<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rahman's Scribbles</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div id="vue_app">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <router-link class="navbar-brand" to="/">Rahman's</router-link>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="http://azophy.github.io">Main Site</a>
                    </li>
                    <li>
                        <a href="http://azophy.github.io/#about">About</a>
                    </li>
                    <li>
                        <router-link to="/">Rahman's</router-link>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <router-view v-bind:posts="posts" v-bind:config="config"></router-view>
        <!-- <homepage v-bind:posts="posts" v-bind:config="config"></homepage> -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="http://twitter.com/azophy" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://facebook.com/abdurrahman.shofy" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://github.com/azophy" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; <a href="http://azophy.github.io">Abdurrahman Shofy Adianto</a> 2017. Template by <a href="http://startbootstrap.com/">startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </footer>
</div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

    <script type="text/javascript" src="https://unpkg.com/marked@0.3.6"></script>
    <script type="text/javascript" src="https://unpkg.com/vue@2.3.2/dist/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script type="text/javascript" src="https://unpkg.com/moment@2.18.1/min/moment.min.js"></script>

    <script type="text/x-template" id="home_page_template">
    <div>
        <!-- Page Header -->
        <!-- Set your background image for this header on the line below. -->
        <header class="intro-header" style="background-image: url('img/home-header2.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>Rahman's Scribbles</h1>
                            <hr class="small">
                            <span class="subheading">My writings and thoughts</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" v-for="post in posts">
                    <div class="post-preview">
                        <router-link :to="{ name: 'post', params: { title: post.title.id }}">
                            <h2 class="post-title"> {{ post.title.innerText }} </h2>
                            <h3 class="post-subtitle"> {{ post.sub_title.innerText }} </h3>    
                        </router-link>
                        
                        <!-- <div v-html="post.content"></div> -->
                        <p class="post-meta">Posted by <a href="#">Rahman</a> on {{ parseTime(post.time) }}</p>
                    </div>
                    <hr>
                    <!-- Pager -->
                    <!-- <ul class="pager">
                        <li class="next">
                            <a href="#">Older Posts &rarr;</a>
                        </li>
                    </ul>  -->
                </div>
            </div>
        </div>
    </div>
    </script>

    <script type="text/x-template" id="view_post_template">
    <div>
        <div v-if="findPost($route.params.title) != null">
            <!-- Page Header -->
            <!-- Set your background image for this header on the line below. -->
            <header class="intro-header" v-bind:style="{ 'background-image': 'url(' + posts[findPost($route.params.title)].imgUrl + ')' }">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="post-heading">
                                <h1>{{ posts[findPost($route.params.title)].title.innerText }}</h1>
                                <h2 class="subheading">{{ posts[findPost($route.params.title)].sub_title.innerText }}</h2>
                                <span class="meta">Posted by <a href="#">Rahman</a> on {{ parseTime(posts[findPost($route.params.title)].time) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Post Content -->
            <article>
                <div class="container">
                    <!-- <button v-on:click="test">refresh</button> -->
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" v-html="posts[findPost($route.params.title)].content"></div>

                        
                    </div>
                </div>
            </article>
        </div>
        <h1 v-else>Sorry, the page you are looking for could not be found</h1>
    </div>
    </script>

    <script type="text/javascript">
function fetchUrl (url, callback) {
  var xhr = new XMLHttpRequest()
  var self = this
  xhr.open('GET', url)
  xhr.onload = function () {
    // console.log(xhr.responseText);
    callback(xhr);
  }
  xhr.send()
}

function fetchConfig(setConfig) {
    fetchUrl('config.json', function(xhr) {
      var config = JSON.parse(xhr.responseText);

      // set filename without extension as id
      for (var i = 0; i< config.posts.length; i++)
        config.posts[i].id = config.posts[i].file.replace('.md', '');

      // sort by date : http://stackoverflow.com/a/10124053/2496217
      config.posts.sort(function(a,b){ return new Date(b.time) - new Date(a.time); });

      setConfig(config);
    });
}

// find first tag element 
function getFirstElement(content, tag, callback) {
    var el = document.createElement( 'html' );
    el.innerHTML = content;
    var child = el.getElementsByTagName( tag ); //console.log(h1s[0]);
    if (child.length)
        callback(child[0], el)
}

function fetchPost(post, config) {
    fetchUrl(config.postRootFolder + post.file, function(xhr) {
    
        // Vue's limitation, unable to observe newly added properties. https://vuejs.org/v2/guide/reactivity.html#Change-Detection-Caveats
        Vue.set(post, 'content', marked(xhr.responseText));

        getFirstElement(post.content, 'h1', function(child, parent) {
            // set as title
            Vue.set(post, 'title', child);

            // remove title from content
            child.parentNode.removeChild(child);
            post.content = parent.innerHTML; //console.log(el.innerHTML);

            // reset title
            post.title.id = post.id;

            // get sub_title
            getFirstElement(post.content, 'h2', function(child2, parent2) {
                Vue.set(post, 'sub_title', child2);
                child2.parentNode.removeChild(child2);
                post.content = parent2.innerHTML;
            });
        })
    });
}

var home_page = { 
    template: '#home_page_template',
    props: ['posts', 'config'],

    methods: {
        parseTime : function(time) {
            return moment(time).format(this.config.timeFormat);
        },
    }

}

var view_post = { 
    template: '#view_post_template',
    props: ['posts', 'config'],

    methods: {
        findPost: function(title) {
            for (var i=0; i<this.posts.length; i++) {
                if (this.posts[i].id == title) return i;
            }
            console.log('post titled: "' + title + '" is not found');
            return null;
        },

        parseTime : function(time) {
            return moment(time).format(this.config.timeFormat);
        },
    }

}

var instance = new Vue({
  el: '#vue_app',
  data: {
    posts: [],
    config: {},
  },

  created: function() {
        var self = this;

        fetchConfig(function(config) {
          self.config = config;
          self.posts = config.posts;
          
          self.posts.forEach(function(item, index) {
            fetchPost(item, config);
          })
        });
    },

  router: new VueRouter({
    routes : [
        { path: '/', component: home_page },
        { path: '/post/:title', name: 'post', component: view_post },
      ]
    }),

  // computed: {},

  /*components : {
    homepage: home_page,
  }*/
})
</script>
</html>

</body>

</html>
